html, body {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.blur {
    filter: blur(10px);
}

.weight {
    width: 100%;
    height: 38%;
    background-color: #E91E63;
    text-align: center;
    color: white;
    position: relative;
    .value {
        font-size: 4em;
        text-shadow: 1px 1px 2px rgba(74,74,74,0.35); 
        display: inline-block;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;  
    }
    .label {
        display: inline-block;
        top: 70%;
        transform: translate(-50%, -50%);
        position: absolute; 
    }
}

.calories {

    color: white;
    width: 50%;
    height: 24%;
    background: #76b353;
    text-align: center;
    float: left;
    position: relative;
    .value {
        font-size: 2em;   
        text-shadow: 1px 1px 2px rgba(74,74,74,0.35);
        display: inline-block;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
    }
    .label {
        display: inline-block;
        top: 70%;
        transform: translate(-50%, -50%);
        position: absolute;   
    }
}

.water {

    color: white;
    width: 50%;
    height: 24%;
    background: #FF9800;
    text-align: center;
    float: left;
    position: relative;
    .value {
        font-size: 2em;   
        text-shadow: 1px 1px 2px rgba(74,74,74,0.35);
        display: inline-block;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
    }
    .label {
        display: inline-block;
        top: 70%;
        transform: translate(-50%, -50%);
        position: absolute;  
    }
}

.activity {
    color: white;
    height: 38%;
    background-color: #2196F3;
    text-align: center;
    position: relative;
    .value {
        font-size: 4em;  
        text-shadow: 1px 1px 2px rgba(74,74,74,0.35); 
        display: inline-block;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
    }
    .label {
        display: inline-block;
        top: 70%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}

.hamburger {
    position: absolute;
    z-index: 890;
    top: 0;
    color: #fafafa;
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #fff;    
    }
    &:hover {
        opacity: 1;
    }
}
