<div class="weight">
    <span class="value">0</span>
    <span class="label">pounds</span>
</div>
<div class="calories">
    <span class="value">0</span>
    <span class="label">calories</span>
</div>
<div class="water">
    <span class="value">0</span>
    <span class="label">glasses</span>
</div>
<div style="width:100%;clear:both;"></div>
<div class="activity">
    <span class="value">0</span>
    <span class="label">minutes</span>
</div>

<x-modal></x-modal>

<button class="hamburger hamburger--elastic" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>